{% extends 'base_cover.html' %}

{# Start head #}
    {% block meta %}{% endblock meta %}
    {% block link %}{% endblock link %}
    {% block title %}{{ block.super }}{% endblock title %}
    {% block pagestyle %}{% endblock pagestyle %}
    {% block headscript %}{% endblock headscript %}
{# End head #}

{# Start body #}
    {# 페이지 최상단 네비구역 #}
    {% block header %}{{ block.super }}{% endblock header %}

    {# 페이지 본문 #}
    {% block section %}
        <h1 class="cover-heading">NameChecker<br>쉽고 빠른 식물학명 조회 서비스!</h1><br>

        {# 프로젝트 설명 페이지 #}
        {% include 'check/PR_project.html' %}

        <p class="lead">{{ test }}</p>
        {# 오류 메세지 출력 #}
        {% if message %}
            <script type="text/javascript">
                alert("{{ message }}")
            </script>
            {% comment %}
            <div class="lead alert alert-warning" role="alert">
                <strong>오류!</strong><p>{{ message }}</p>
            </div>
            {% endcomment %}
        {% endif %}
        <p class="lead">{{ form.non_field_errors }}</p>

        {# 파일을 업로드 하지 않았을 경우 #}
        {% if upload == 'no' %}

            <form action="/check/" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="input-group">

                    <span class="input-group-addon" id="basic-addon2">시트 이름</span>
                    <input id="sheetname" name="sheetname" type="text" class="form-control" placeholder="ex)sheet1" aria-describedby="basic-addon1">
                    <p>{{ form.sheetname.errors }} </p>

                    <span class="input-group-addon" id="basic-addon2">머리글 이름</span>
                    <input id="rowname" name="rowname" type="text" class="form-control" placeholder="ex)종명" aria-describedby="basic-addon1">
                    <p>{{ form.rowname.errors }}</p>

                    <span class="input-group-addon" id="basic-addon2">머리글 위치</span>
                    <input id="rownum" name="rownum" type="text" size="8" class="form-control" placeholder="ex)1" aria-describedby="basic-addon1">
                    <p>{{ form.rownum.errors }} </p>

                </div>
                {# 파일 업로드 #}
                {{ form.file.errors }}
                <label class="control-label">Upload File From Folder</label>
                <input id="file" name="file" type="file" class="file-loading">
                <input type="submit" value="업로드하기">
            </form>
        {% else %}
            <a href="{% url 'check:index' %}">다시 해보기</a>
        {% endif %}

    {% endblock section %}

    {# 페이지 최하단 사이트정보 구역 #}
    {% block footer %}{{ block.super }}{% endblock footer %}

    {# body 최하단에서 호출할 스크립트 #}
    {% block bodyscript %}{% endblock bodyscript %}
{# End body #}


            {% comment %}
            <!-- 엑셀 정보 입력 폼 -->
            <form class="lead">
            <div class="input-group">

                <span class="input-group-addon" id="basic-addon2">시트 이름</span>
                <input id="sheetname" type="text" class="form-control" placeholder="ex)sheet1" aria-describedby="basic-addon1">
                <p>{{ form.sheetname.errors }} </p>

                <span class="input-group-addon" id="basic-addon2">머리글 이름</span>
                <input id="rowname" type="text" class="form-control" placeholder="ex)종명" aria-describedby="basic-addon1">
                <p>{{ form.rowname.errors }}</p>

                <span class="input-group-addon" id="basic-addon2">머리글 위치</span>
                <input id="rownum" type="text" size="8" class="form-control" placeholder="ex)1" aria-describedby="basic-addon1">
                <p>{{ form.rownum.errors }} </p>

            </div><br>
                </form>{% endcomment %}





