
<div class="row lead">
    <div class="col-sm-6" id="main-card">
        <div class="card">
        <div class="card-block">
            <h5 class="card-title">절약하세요</h5>
            <p class="card-text">식물 이름이 있는 엑셀 파일을 업로드 하시고 식물 이름의 위치를 알려주시면 나머진 다 알아서 합니다!</p>
        </div>
        </div>
    </div>
    <div class="col-sm-6" id="main-card">
        <div class="card">
        <div class="card-block">
            <h5 class="card-title"><i class="fa fa-search" aria-hidden="true"></i>정확하게 찾아드립니</h5>
            <p class="card-text">식물 이름이 있는 엑셀 파일을 업로드 하시고 식물 이름의 위치를 알려주시면 나머진 다 알아서 합니다!</p>
        </div>
        </div>
    </div>
</div>
<div class="row lead">
    <div class="col-sm-6" id="main-card">
        <div class="card">
        <div class="card-block">
            <h5 class="card-title">절약하세요</h5>
            <p class="card-text">식물 이름이 있는 엑셀 파일을 업로드 하시고 식물 이름의 위치를 알려주시면 나머진 다 알아서 합니다!</p>
        </div>
        </div>
    </div>
    <div class="col-sm-6" id="main-card">
        <div class="card">
        <div class="card-block">
            <h5 class="card-title"><i class="fa fa-search" aria-hidden="true"></i>정확하게 찾아드립니</h5>
            <p class="card-text">식물 이름이 있는 엑셀 파일을 업로드 하시고 식물 이름의 위치를 알려주시면 나머진 다 알아서 합니다!</p>
        </div>
        </div>
    </div>
</div>