<!DOCTYPE html>
<html lang = "ko">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.3/css/bootstrap.min.css" integrity="sha384-MIwDKRSSImVFAZCVLtU0LMDdON6KVCrZHyVQQj6e8wIEJkW4tvwqXrbMIya1vriY" crossorigin="anonymous">
        <link rel="stylesheet" href="cover.css">
        
        <script src="https://rawgit.com/enyo/dropzone/master/dist/dropzone.js"></script>
        <link rel="stylesheet" href="https://rawgit.com/enyo/dropzone/master/dist/dropzone.css">
        
        <link rel="stylesheet" href="//cdn.rawgit.com/hiun/NanumSquare/master/nanumsquare.css">
        
        <style>
            h1, h2, h3, h4, h5{font-family: 'Nanum Square'; font-weight: bold;}
        </style>

    </head>
    <body>
     <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand">Cover</h3>
              <nav class="nav nav-masthead">
                <a class="nav-link active" href="#">Home</a>
                <a class="nav-link" href="#">Features</a>
                <a class="nav-link" href="#">Contact</a>
              </nav>
            </div>
          </div>
                
          <div class="inner cover">
            <h1 class="cover-heading">자연을 사랑하시는 여러분!시간을 절약하세요!</h1>
            <p class="lead">
                학술연구에 있어 식물 국,학명을 찾는데 많은 시간이 소요되었던 분들이라식물이름이 적혀있는 엑셀파일을 올려주시면 제가 국,학명을 찾아 드리겠습니다!<br>
                사용방법은 간단합니다! 식물이름이 적혀있는 엑셀파일을 아래에 드래그&드롭해주시고 식물목록이 있는 시트명과 열이름을 알려주시면 제가 알아서 찾아드리겠습니다<br>
                그래도 혹 어려운 분들이 계신다면 <a href="#" class="btn btn-sm">여기를 눌러</a> 참고영상을 봐주시기 바랍니다!
            </p>
            <form action="/upload-target" class="dropzone"></form>
            <p class="lead">
                <!-- Change /upload-target to your upload address -->
                
                올려주신 엑셀 파일은 저장되지 않으며 국,학명을 찾는 작업이 완료되면 자동 삭제 됩니다.
            </p>
          </div>
                
          <footer class="mastfoot">
            <div class="inner">
              <p>Cover template for <a href="http://getbootstrap.com">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
            </div>
          </footer>

        </div>
      </div>
    </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js" integrity="sha384-THPy051/pYDQGanwU6poAc/hOdQxjnOEXzbT+OuUAFqNqFjL+4IGLBgCJC3ZOShY" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js" integrity="sha384-Plbmg8JY28KFelvJVai01l8WyZzrYWG825m+cZ0eDDS1f7d/js6ikvy1+X+guPIB" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.3/js/bootstrap.min.js" integrity="sha384-ux8v3A6CPtOTqOzMKiuo3d/DomGaaClxFYdCu2HPMBEkf6x2xiDyJ7gkXU0MWwaD" crossorigin="anonymous"></script>
    </body>
</html>