<!DOCTYPE html>
<html lang="ko">
{% comment %}
    WikiNature 사이트의 메인 템플릿
{% endcomment %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {# JQUERY & 시멘틱 UI CSS,JS  #}
    <script src="https://cdn.jsdelivr.net/g/jquery@3.1.0,semantic-ui@2.2.2"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.2/semantic.min.css">

    {% block head %}{% endblock head %}

    </head>
<body>
    {% block body %}{% endblock body %}

    {% block body_script %}{% endblock body_script %}
</body>
</html>