
<!DOCTYPE html>
<html>
<head>
    <!-- Standard Meta -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <!-- Site Properties -->
    <title>Homepage - Semantic</title>
    <script src="https://cdn.jsdelivr.net/g/jquery@3.1.0,semantic-ui@2.2.2"></script>
    <script src="https://cdn.jsdelivr.net/trianglify/1.0.0/trianglify.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.2/semantic.min.css">
    <link rel="stylesheet" href="wikinature_main.css">

    <!-- 나눔스퀘어 폰트 --><link rel="stylesheet" href="//cdn.rawgit.com/hiun/NanumSquare/master/nanumsquare.css">
    <!-- 나눔바른고딕 폰트 --><link rel="stylesheet" href="//cdn.jsdelivr.net/font-nanum/1.0/nanumbarungothic/nanumbarungothic.css">

    <style>
        h1, h2, h3, h4, h5{font-family: 'Nanum Square'; }
        h1, h2{ font-weight: bold; }
        h3, h4, h5{ font-weight: normal; }
        p{font-family: 'Nanum Barungothic'; font-weight: normal; font-size: 1em; }
    </style>
    <script>
        $(document).ready(function() {
            // fix menu when passed
            $('.masthead').visibility({
                once: false,
                onBottomPassed: function() {$('.fixed.menu').transition('fade in');},
                onBottomPassedReverse: function() {$('.fixed.menu').transition('fade out');}
            });

            // create sidebar and attach to menu open
            $('.ui.sidebar').sidebar('attach events', '.toc.item');

        });
        // 화면 이동 스크립트
        function scrollLink(obj){
            var position = $("#background"+obj).offset();
            $('html, body').animate({scrollTop : position.top}, 600);
        };
    </script>
</head>
<body>

<!-- Following Menu -->
<div class="ui large top fixed hidden menu">
    <div class="ui container">
        <a class="active item">WikiNature</a>
    <div class="right menu">
        <a class="item" onclick="scrollLink('1')">What?</a>
        <a class="item" onclick="scrollLink('2')">How?</a>
        <a class="item" onclick="scrollLink('3')">DoIt!</a>
        <a class="item">MadeBy</a>
    </div>
  </div>
</div>

<!-- Sidebar Menu -->
<div class="ui vertical inverted sidebar menu">
    <a class="item" onclick="scrollLink('1')">What?</a>
    <a class="item" onclick="scrollLink('2')">How?</a>
    <a class="item" onclick="scrollLink('3')">DoIt!</a>
    <a class="item">MadeBy</a>
</div>


<!-- Page Contents -->
<div class="pusher">
    <div class="ui inverted vertical masthead center aligned segment" id="background1">
        <header class="ui container">
            <div class="ui large secondary inverted pointing menu">
                <a class="item"><h1>WikiNature</h1></a>
                <a class="toc item">WikiNature</a>
                <a class="toc item"><i class="sidebar icon"></i></a>
                <div class="right item">
                    <a class="item" onclick="scrollLink('1')">What?</a>
                    <a class="item" onclick="scrollLink('2')">How?</a>
                    <a class="item" onclick="scrollLink('3')">DoIt!</a>
                    <a class="item">MadeBy</a>
                </div>
            </div>
        </header>

        <div class="ui text container">
            <h1 class="ui inverted header">NameChecker</h1>
            <h2>빠르고 정확한 식물 국,이명 확인 & 변환 서비스</h2>
            <div class="row">
                <div class="ui two cards">
                    <div class="ui raised card">
                        <div class="content">
                            <div class="header">정확합니다</div>
                            <div class="description"><p>국가표준식물목록 API를 이용하여 정확하게 찾고 최신정보를 반영해 드립니다.</p></div>
                        </div>
                    </div>
                    <div class="ui raised card">
                        <div class="content">
                            <div class="header">안전합니다</div>
                            <div class="description"><p>업로드된 파일은 작업완료후 바로 삭제하며 어떤 식물을 찾았는지에 대한 로그를 일체 남기지 않습니다.</p></div>
                        </div>
                    </div>
                    <div class="ui raised card">
                        <div class="content">
                            <div class="header">빠릅니다</div>
                            <div class="description"><p>엑셀에 식물의 수가 많더라도 자동으로 중복된 식물은 제외하고 국가표준식묾목록API로 확인을 하기 때문에 중복된 식물이 많더라도 작업시간에 크게 영향을 주지 않습니다.</p></div>
                        </div>
                    </div>
                    <div class="ui raised card">
                        <div class="content">
                            <div class="header">무료입니다</div>
                            <div class="description"><p>이 서비스는 개인적으로 운영하는 서비스입니다. 이 페이지를 보고 계시는한 무료로 서비스를 제공할 예정입니다.</p></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row"><div class="center aligned column">
                <div class="ui huge primary button" onclick="scrollLink('2')">사용법 알아보기 &nbsp;<i class="down arrow icon"></i></div>
            </div></div>
        </div>
    </div>
<section>
    <div class="ui vertical stripe segment" id="background2">
        <div class="ui middle aligned stackable grid container">
            <div class="row">
                <div class="eight wide column">
                    <h3 class="ui header">파일을 업로드 합니다.</h3>
                    <p>파일을 업로드하시고 식물목록을 찾을수 있도록 시트 이름,식물목록이 있는 머리열 번호와 이름을 입력해 주세요</p>
                    <h3 class="ui header">작업을 요청후 기다리시면 다운로드 가능한 파일 링크를 알려드립니다.</h3>
                    <p>Yes that's right, you thought it was the stuff of dreams, but even bananas can be bioengineered.</p>
                </div>
            </div>
            <div class="row">
                <div class="center aligned column">
                    <div class="ui huge primary button" onclick="scrollLink('3')">사용해 보기</div>
                </div>
            </div>
        </div>
    </div>

    <div class="ui vertical stripe segment" id="background3">
        <div class="ui text container">
            <h3 class="ui header">식물명 매칭&변환 요청하기</h3>
            <p>아래 양식에 맞춰 자료를 전달해주시면 바로 작업을 해드립니다.</p>
            <div class="ui three top attached steps">
                <div class="active step">
                    <i class="truck icon"></i>
                    <div class="content">
                        <div class="title">업로드</div>
                        <div class="description">작업요청할 파일 및 정보를 선택해 주세요.</div>
                    </div>
                </div>
                <div class="disabled step">
                    <i class="payment icon"></i>
                    <div class="content">
                        <div class="title">필요한 정보 선택</div>
                        <div class="description">학명 외에도 많은 정보를 받아 볼수 있습니다.</div>
                    </div>
                </div>
                <div class="disabled step">
                    <i class="info icon"></i>
                    <div class="content">
                        <div class="title">자료 다운받기</div>
                        <div class="description">작업이 완료됬습니다.!</div>
                    </div>
                </div>
            </div>
            <div class="ui attached segment">
                <form enctype="multipart/form-data" action="">
                <div class="ui form">
                    <div class="three fields">
                        <div class="field">
                            <label>시트 이름</label>
                            <input type="text" placeholder="ex) sheet1">
                        </div>
                        <div class="field">
                            <label>식물목록 머리열 이름</label>
                            <input type="text" placeholder="ex) 종명">
                        </div>
                        <div class="field">
                            <label>식물목록 머리열 위치</label>
                            <input type="text" placeholder="ex) 1">
                        </div>
                    </div>
                    <input class="ui blue submit button" type="submit">
                </div>
                </form>
            </div>
        </div>
    </div>
<script>
    // 배경화면 생성을 위한 변수 설정
    var background1 = $('#background1');
    var background2 = $('#background2');
    var background3 = $('#background3');
    // 브라우저 크기 변경시 자동으로 배경 재생성
	$(window).resize(function(){
	    // 화면 높이에 맞춰 태그 높이 변경
        background1.css('height',window.innerHeight);
        background2.css('height',window.innerHeight);
        background3.css('height',window.innerHeight);

        // 배경 생성
		var pattern1 = Trianglify({
			width: window.innerWidth,
			height: window.innerHeight,
			cell_size: 70,
			variance: "0.9",
            x_colors: ['#005a32', '#238b45', '#41ab5d', '#74c476', '#a1d99b', '#c7e9c0', '#e5f5e0', '#f7fcf5'],
			y_colors: ['#005a32', '#238b45', '#41ab5d', '#74c476', '#a1d99b', '#c7e9c0', '#e5f5e0', '#f7fcf5'],

		});
        var pattern2 = Trianglify({
			width: window.innerWidth,
			height: window.innerHeight,
			cell_size: 70,
			variance: "0.9",
            y_colors: ['#f7fbff','#deebf7','#c6dbef','#9ecae1','#6baed6','#4292c6','#2171b5','#084594'],
			x_colors: ['#084594', '#2171b5', '#4292c6', '#6baed6', '#9ecae1', '#c6dbef', '#deebf7', '#f7fbff'],
		});
        var pattern3 = Trianglify({
			width: window.innerWidth,
			height: window.innerHeight,
			cell_size: 70,
			variance: "0.9",
            x_colors: ['#8c2d04', '#d94801', '#f16913', '#fd8d3c', '#fdae6b', '#fdd0a2', '#fee6ce', '#fff5eb'],
            y_colors: ['#8c2d04', '#d94801', '#f16913', '#fd8d3c', '#fdae6b', '#fdd0a2', '#fee6ce', '#fff5eb'],
		});

        // 배경 url
		var BackImg1 = pattern1.canvas().toDataURL();
        var BackImg2 = pattern2.canvas().toDataURL();
		var BackImg3 = pattern3.canvas().toDataURL();

        // 배경 적용
		$("#background1").css('backgroundImage','url('+BackImg1+')');
        $("#background2").css('backgroundImage','url('+BackImg2+')');
        $("#background3").css('backgroundImage','url('+BackImg3+')');
	}).resize();
</script>
</section>

<footer class="ui inverted vertical footer segment">
    <div class="ui container">
        <div class="ui stackable inverted divided equal height stackable grid">
            <div class="seven wide column">
            <h4 class="ui inverted header">Footer Header</h4>
            <p>Extra space for a call to action inside the footer that could help re-engage users.</p>
        </div>
      </div>
    </div>
</footer>
</div>

</body>

</html>